.players {
  --dot-half: calc(var(--dot-size) / 2);
  --font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size);
  line-height: 1;
}

.players-item {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: visible;
  padding: var(--font-size) calc(var(--font-size) * 1.5);
}
  .players-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform var(--time-unit);
    will-change: transform;
  }

  .players-item:nth-child(1) {
    transform: translate(calc(-100% - var(--dot-half) - 80px), 0);
    border-radius: 0 calc(var(--font-size) * 2) calc(var(--font-size) * 2) 0;
  }
    .players-item:nth-child(1)::before {
      transform: translateX(100%);
      background: linear-gradient(to left, var(--color-player1-light), rgba(0, 0, 0, 0));
    }

    [data-turn="0"] .players-item:nth-child(1)::before {
      transform: translateX(0);
    }

  .players-item:nth-child(2) {
    flex-direction: row-reverse;
    transform: translate(calc(100% + var(--dot-half) + 80px), 0);
    border-radius: calc(var(--font-size) * 2) 0 0 calc(var(--font-size) * 2);
  }
    .players-item:nth-child(2)::before {
      transform: translateX(-100%);
      background: linear-gradient(to right, var(--color-player2-light), rgba(0, 0, 0, 0));
    }

    [data-turn="1"] .players-item:nth-child(2)::before {
      transform: translateX(0);
    }

.players-score {
  font-size: 2.5em;
}
  .players-item:nth-child(1) .players-score {
    margin-left: 20px;
    color: var(--color-player1);
  }

  .players-item:nth-child(2) .players-score {
    margin-right: 20px;
    color: var(--color-player2);
  }

.players-results {
  position: absolute;
  top: 100%;
  padding: var(--font-size) calc(var(--font-size) * 1.5);
  white-space: nowrap;
  border-radius: calc(var(--font-size) * 2);
  opacity: 0;
  transition: opacity calc(var(--time-unit) * 2);
}
  [data-winner] .players-results {
    opacity: 1;
  }

  [data-winner="0"] .players-results {
    left: 0;
    transform: translate(calc(-100% - var(--dot-half) - 80px), var(--font-size));
    background: linear-gradient(to left, var(--color-player1-light), rgba(0, 0, 0, 0));
  }

  [data-winner="1"] .players-results {
    right: 0;
    transform: translate(calc(100% + var(--dot-half) + 80px), var(--font-size));
    background: linear-gradient(to right, var(--color-player2-light), rgba(0, 0, 0, 0));
  }
